<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <mat-card>
    <mat-card-title>
      Welcome to title !
    </mat-card-title>
    <mat-card-content>
      <mat-grid-list [cols]="columns" rowHeight="4:1">
        <mat-grid-tile>
          <button mat-button color="primary" matBadge="{{newTransactions}}" matBadgeColor="primary">
            Check Transaction
          </button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-button color="warn">
            Card Blocking
          </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-button color="primary">
              Rewards
            </button>
          </mat-grid-tile>
        <mat-grid-tile>
          <button mat-button color="green">
            Auto Top-Up
          </button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-button color="blue">
            Top-Up
          </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-button color="primary">
              Add Card
            </button>
          </mat-grid-tile>
        <mat-grid-tile>
          <button mat-button color="warn">
            Setup Limit
          </button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-button color="green">
            Setup Defaults
          </button>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>

</div>



<!-- <mat-calendar></mat-calendar> -->
